html, body, form, fieldset, ul, dl, dt, dd, table, td, th, img, menu {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
    width: 100%;
    font-size: 10px;
}

#canvas-font-renderer {
    position: absolute;
    left: 0;
    top: -1000rem;
    white-space: nowrap;
}